/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/logs

public/vendor/
/public/category_image
/public/product_image
/public/bid_image
/public/bid_thumb_image
/public/bid_other_image
/public/profile_image
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
php.ini
.user.ini
